*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
keys.jks
androidVoip/src/release/google-services.json
androidVoip/src/debug/google-services.json
androidVoip/src/google-services.json